= render "layouts/category-bar"
%h3 Recipes:
- @recipes.each do |recipe|
  .recipes
    %h3
      = link_to recipe.title, recipe_path(recipe)
    %p= "\"#{recipe.description}\""
    %p
      Category:
      = link_to recipe.category.name, category_path(recipe.category)
    %p
      Posted by:
      = link_to recipe.user.name, user_path(recipe.user)
      = mail_to recipe.user.email, "&#9993;".html_safe
    %p
      - if user_signed_in?
        - if recipe.user == current_user
          = link_to 'Edit', edit_recipe_path(recipe)
          = link_to 'Delete', recipe_path(recipe), method: :delete,
                              data: {confirm: 'Are you sure?'}

        - if recipe.user != current_user
          = link_to 'Fork', '#'

      = link_to 'like', recipe_like_path(recipe), method: :post
      - liking_users = recipe.liking_users.map {|x| x.name}
      - if liking_users != [];
        = "&hearts; #{liking_users.size} likes by: #{liking_users.join(', ')}.".html_safe
    %hr
