%h1 Food Hub
%p= link_to 'New Recipe', new_recipe_path

- @recipes.each do |recipe|
  .recipes
    %h3
      = link_to recipe.title, recipe_path(recipe)
    %p= "\"#{recipe.description}\""
    %hr
    %p
      Category:
      = recipe.category.name
    %p
      Posted by:
      = mail_to recipe.user.email
    %p
      - if user_signed_in?
        - if recipe.user == current_user
          = link_to 'Edit', edit_recipe_path(recipe)
          = link_to 'Delete', recipe_path(recipe), method: :delete,
                              data: {confirm: 'Are you sure?'}

        - if recipe.user != current_user
          = link_to 'Fork', '#'

      = link_to 'like', recipe_like_path(recipe), method: :post
      = "&hearts;".html_safe + Like.where(recipe_id: recipe.id).count.to_s
    %hr
