%h1 Food Hub
%p= link_to 'New Recipe', new_recipe_path

- @recipes.each do |recipe|
  .recipes
    %h3
      = link_to recipe.title, recipe_path(recipe)
      - if user_signed_in?
        = link_to "&hearts;".html_safe , '#'
    %p= "\"#{recipe.description}\""
    %p
      Posted by:
      = mail_to recipe.user.email
