%h3= @recipe.title
%p=  "\"#{@recipe.description}\""
%h4 Ingredients
%p= @recipe.ingredients
%h4 Directions
%p= @recipe.directions
- recipe = @recipe
%hr
%p
  Category:
  = @recipe.category.name
%p
  Posted by:
  = mail_to @recipe.user.email
%p
  - if user_signed_in?
    - if @recipe.user == current_user
      = link_to 'Edit', edit_recipe_path(@recipe)
      = link_to 'Delete', recipe_path(@recipe), method: :delete,
                          data: {confirm: 'Are you sure?'}

    - if @recipe.user != current_user
      = link_to 'Fork', '#'

  = link_to 'like', recipe_like_path(@recipe), method: :post
  = "&hearts;".html_safe + Like.where(recipe_id: @recipe.id).count.to_s
%hr
