%h3= @recipe.title
%p=  "\"#{@recipe.description}\""
%h4 Ingredients
%p= @recipe.ingredients
%h4 Directions
%p= @recipe.directions
%p
  Category:
  = @recipe.category.name
%p
  Posted by:
  = mail_to @recipe.user.email
%p
  - if user_signed_in? && @recipe.user == current_user
    = link_to 'Edit', edit_recipe_path(@recipe)
    = link_to 'Delete', recipe_path(@recipe), method: :delete,
                        data: {confirm: 'Are you sure?'}
  - if user_signed_in?
    = link_to "Like &hearts;".html_safe , '#'

= link_to "Back", root_path
