%h3= @recipe.title
%p=  "\"#{@recipe.description}\""
%h4 Ingredients
%p= @recipe.ingredients
%h4 Directions
%p= @recipe.directions
%p
  Posted by:
  = mail_to @recipe.user.email

= link_to "Back", root_path
